
body{
    background-color: white;
}

table,tr,th{
text-align: start;
border: 1px double black;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-decoration: underline;
}
